# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=EVO_Nodes Core Daemon SNAP
Comment=testnet
GenericName=EVO_Nodes Digital Currency Daemon Client testnet network
Exec=evo_nodes-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/evo_nodes_testnet.png
MimeType=x-scheme-handler/evo;
Categories=X-Office;X-Finance;
Keywords=internet;evo_nodes;zevo;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
